<div class="row">
<aside class="col-md-2">
<section class="user_info">
<%= render 'shared/user_info' %>
</section>
</aside>
<div class="col-md-4">
	<h4 class="pageheadings"><strong>Make an Order here</strong></h4>
	<%= render 'shared/order_form'%>
</div>

<div class="col-md-6" id="feed">
 <h4 class="pageheadings"><strong>My Orders</strong></h4>
 	<%= will_paginate @orders %>
 	<table class="orders table table-striped ">
		<%= render @orders %>
    </table>	
	<%= will_paginate @orders %>
</div>
</div>