  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <strong>Type of paper: </strong><%= @paper.type_of_paper %><br>
      <strong>Topic: </strong><%= @paper.topic %><br>
      <strong>Number of pages </strong><%= @paper.pages %><br>
      <strong>Price: </strong><%= @paper.price %><br>
      <strong>Purchase status: </strong><%= @purchase.status %><br>
      <strong>Purchased date: </strong><%= @purchase.purchased_at %><br>
      <strong>Paypal transaction Identifier: </strong><%= @purchase.transaction_id %><br>
    </div>
  </div>
