<%= form_for(Order.new, multipart: true ) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :type_of_paper, "Type of paper" %>
		<%= f.select(:type_of_paper, (["Essay (any type)", "Admission essay", "Annotated bibliography",
			"Argumentative essay", "Article review", "Book/Movie review", "Business plan",
			"Case study", "Coursework", "Creative writing", "Critical thinking", "Presentation or speech",
			"Research paper", "Research proposal", "Term paper", "Thesis/Dissertation chapter", "other" ])) %>

		<%= f.label :topic %>
		<%= f.text_field :topic, required: true %>

		<%= f.label :pages%>
		<%= f.select(:pages, (('1'..'20')))%>

		<%= f.label :discipline %>
		<%= f.select(:discipline, (["English and Literature", "Business and Management", "Marketing", "Economics", "History", "Religion/Theology", "Psychology and Education", "Political science",
		    "Sociology", "Philosophy", "Health Ccare and Life Sciences", "Computer science", "Mathematics and Statistics", "Law", "Other" ])) %>

		<%= f.label :format, "Format or Citation style" %>
		<%= f.select(:format, (["APA", "MLA", "Harvad", "Chicago", "Other"]) )%>
		<div>
			<%= f.label :deadline %><br>
			<%= f.datetime_select :deadline, :start_year => Date.today.year %><br><br>
		</div>
		
		<%= f.label :type_of_service %>
		<%= f.select(:type_of_service, (["Write from scratch", "Editing", "Rewrite"]))%>

		<%= f.label :paper_instructions %>
		<%= f.text_area :paper_instructions, rows:10, required: true %>

		<div>
			<%= f.fields_for :extras, Extra.new  do |ff| %>
			<%= ff.label :extra, "Upload Additional"%>
			<%= ff.file_field :extra, multiple: true, name:"order[extras_attributes][][material]" %>
			<%- end %>
		</div>
		
		<%= f.submit "Upload and pay half", class: 'btn btn-primary' %>
<%- end %>

