<footer class="footer">
 <nav class="navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
  <li><%= link_to "Terms of Service", termsofservice_path %></li>
  <li><%= link_to "Privacy Policy", privacypolicy_path %></li>
  <li><%= link_to "Money back Guarantee", moneybackguarantee_path %></li>
  <li><%= link_to "FAQ Page", faq_path %></li>
  <li><%= link_to "Confidentiality Policy", confidentialitypolicy_path %></li>
  
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Blog", '#' %></li>
  <li><%= link_to "About us", about_path %></li>
  <li><%= link_to "Contact Us", contact_path %></li>
  </ul>
 </nav>
</footer>